:root {
    --primary-color: #2c3e50;
    --light-primary: #9ac4f8;
    --lightest-color: #e9ebd5;
    --secondary-color: #9ac4fb;
    --light-secondary: #c08972;
    --light0-secondary: #ffffff;
}

#modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#modal-background {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: 0;
}

#modal-container {
    position: relative;
    z-index: 1;
    background-color: var(--light0-secondary);
    padding: 1rem 3rem;
    border-radius: 10px;

    max-width: 800px;
    width: 70%;
    max-height: 80vh;
    overflow: auto;
}

#modal-body img {
    width: 200px;
    border-radius: 8px;


}

#modal-overlay {
    pointer-events: all;
}

.overlay{
    visibility:hidden;
    transition:all 0.3s ease;
    opacity: 0  ;

}

.open {
    visibility:visible;
    opacity: 1;
}




#modal-container {
    margin-top: 90px;
    pointer-events: all;
    
}

#modal-container h2 {
    display: flex;
    font-size: 20px;
    padding: 1rem 0;
    max-width: 40%;
    
    
}

#modal-body {
    display: flex;


}

#movie-info {
    display: flex;
    flex-direction: column;
    gap: 35px; /* controla o espaçamento entre linhas */
    max-width: 300px;
    margin-left: 40px;
    text-align: left;
}


#modal-add-list {
    display: flex;
    margin-top: 10px;
justify-content: center;

}

#modal-add-list button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 800px;
}

#modal-add-list button {
  
width: 100%;
}
#modal-add-list button:hover {
    background-color: #2c3e50;
}



@media (max-width: 768px) {

  #modal-container {
    width: 90%;
    padding: 1rem;
  }

  #modal-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #modal-body img {
    width: 150px;
  }

  #sinopse {
    max-width: 100%;
  }

  #movie-extra {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #modal-add-list button {
    font-size: 14px;
    padding: 12px;
  }
}


#modal-container {
  max-height: 90vh;
  overflow-y: auto;
}

#movie-name {
    width: 300px; /* aumenta o tamanho */
}


#modal-container {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    width: 70%;
    max-height: 85vh;
    overflow-y: auto;
    margin-top: 0;
}